.nav {
  position: fixed;
  top: 0;
  display: flex;
  object-fit: contain;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  height: 20px;
  z-index: 1;

  /* animation - how we want to handel the animation */
  transition-timing-function: ease-in;

  transition: all 0.5s;
  /* adds a delay tp ot */
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  width: 80px;
  object-fit: contain;
  position: fixed;
  left: 20px;
}

.nav__avatar {
  width: 30px;
  object-fit: contain;
  position: fixed;
  right: 20px;
}
